/***************
    GENERAL
***************/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#wrapper {
    height: 100vh;
    width:  100vw;
    position: relative;
    background-color: #d7dbd3;
    padding: 35px;
}

#app {
    z-index: 500;
    position: relative;
    display: flex;
    /* background-color: #e3dbd4; */
    width: 80%;
    height: 100%;
    margin: auto;
}

h4 {
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
    color: inherit;
}

a i {
    color: #adadad;
}

a i:hover {
    color: rgb(77, 48, 115);
}
/***************
    UTILITIES
***************/
header,
footer {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 5px;
}

header {
    background-color: #eaeaea;
    justify-content: space-between;
}

header .thumbPreview img {
    width: 40px;
    height: 40px;
}

footer {
    background-color: #f3eeea;
    justify-content:space-evenly;
}

/* THUMB PREVIEW OF CONTACTS */
.contactPreview {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    overflow:hidden;
    cursor: pointer;
}

.contactPreview:hover {
    background-color:#f3f3f39a;
}

.thumbActive {
    background-color: #e9ebeb;
}

    .thumbPreview {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
        overflow: hidden;
    }

        .thumbPreview img {
            width: 50px;
            height: 50px;
        }

    .contactInfo {
        height: 100%;
    }

        .lastReceivedPreview {
            height: 100%;
            overflow: hidden;
            color: #adadad;
        }

    .activeTime {
        color: #adadad;
        align-self: flex-start;
        text-align: end;
        font-size: 12px;
    }

/* ROUNDED */
    .rounded {
    border-radius: 50%;
}

span.rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #8edafc;
}

/* SEARCH BAR */
.searchBar {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #adadad;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ICONS */
.iconsContainer {
    position: relative;
    display: flex;
    padding: 10px;
    gap: 15px;
    font-size: 18px;
    color: #adadad;
}

/* MESSAGES */
.msg {
    padding: 5px;
    margin-bottom: 10px;
    min-width: 300px;
    width:fit-content;
    border-radius: 10px;
    position: relative;
}

.msg .msgText {
    margin: 15px;
}

.msgActiveTime {
    color: #adadad;
    text-align: end;
    align-self: flex-end;
    font-size: 12px;

}

    /* msg sent or received */
    .msgSent {
        background-color: #d5f9ba;
        justify-self: end;
        margin-left: auto;
    }

    .msgReceived {
        background-color: #ffffff;
    }


.arrowTendina {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 12px;
    padding: 5px;
}

    /* make msg menu arrow visible on hover */
    .msg a.arrowTendina {
        display: none;
    }
    .msg:hover a.arrowTendina {
        display: inline-block;
    }

.clickTendina {
    position: relative;
}
.menuTendina {
    position: absolute;
    top: 25px;
    right: 0;
    width:max-content;
    height:min-content;
    background-color: #f1f1f1;
    padding: 15px;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #88888866;
}

.menuTendina a {
    text-decoration: none;
    color:#7e7e7e;
}

.menuTendina a:hover {
    color: black;
}
/***************
    STRUCTURE
***************/

/* BACKGROUND */
#bg_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-color: #009688;
    z-index: 0;
}

#leftCol {
    background-color: #ffffff;
    flex-basis: 33%;
    border-right: solid 2px #e2e2e2;
}

#rightCol {
    flex-basis: 67%;
}

/* LEFT COLUMN */
.bellWarning {
    height: 60px;
    background-color: #8ad3f1;
    padding: 5px;
    font-size: 13px;
}

.bellWarning a i {
    color: inherit;
}

.bellWarning a i:hover {
    color: #0fa3dd;
}

#SearchBarContainer {
    height: 40px;
    padding: 5px;
    background-color: #fafafa;
    border-bottom: solid 1px #e2e2e2;
}

    #contactSearchBar {
        width: 90%;
        height: 100%;
        border: none;
        padding: 5px;
    }

#contactsListContainer {
    height: calc(100% - 160px);
    overflow-y: scroll;
    padding: 5px;
}

/* RIGHT COLUMN */

#rightCol .contactInfo span {
    color: #adadad;
    font-size: 14px;
}

main {
    height: calc(100% - 120px);
    overflow-y: scroll;
    background-image:url('../img/msg_wall.png');
    padding: 40px 70px;
}

footer input {
    flex-basis: 80%;
    height: 90%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


/***************
    DEBUG
***************/

/* .thumbContact,
.iconsContainer {
    border: solid 1px violet;
} */