/***************
    GENERAL
***************/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

#app {
    height: 100vh;
    position: relative;
    background-color: #d7dbd3;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
    color: inherit;
}

/***************
    UTILITIES
***************/
header,
footer {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 5px;
}

header {
    background-color: #eaeaea;
    justify-content: space-between;
}

footer {
    background-color: #f3eeea;
    justify-content:space-evenly;
}

.thumbPreview {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .thumbPreview img {
        width: 40px;
        height: 40px;
    }

.rounded {
    border-radius: 50%;
}

span.rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #8edafc;
}

.searchBar {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #adadad;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.iconsContainer {
    display: flex;
    padding: 10px;
    gap: 15px;
    font-size: 18px;
    color: #adadad;
}

/***************
    STRUCTURE
***************/

/* BACKGROUND */
#bg_header {
    height: 115px;
    background-color: #009688;
}

/* MAIN CONTAINER */
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #e3dbd4;
    width: 80%;
    height: 95%;
}

#leftCol {
    background-color: #ffffff;
    flex-basis: 33%;
    border-right: solid 2px #e2e2e2;
}

#rightCol {
    flex-basis: 67%;
}

/* LEFT COLUMN */
.bellWarning {
    height: 60px;
    background-color: #8edafc;
    padding: 5px;
}

#SearchBarContainer {
    height: 40px;
    padding: 5px;
    background-color: #fafafa;
    border-bottom: solid 1px #e2e2e2;
}

    #contactSearchBar {
        width: 90%;
        height: 100%;
        border: none;
        padding: 5px;
    }

/* RIGHT COLUMN */
main {
    height: calc(100% - 120px);
    overflow-y: scroll;
}

footer input {
    flex-basis: 80%;
    height: 90%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


/***************
    DEBUG
***************/

/* .thumbContact,
.iconsContainer {
    border: solid 1px violet;
} */