/***************
    GENERAL
***************/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

#app {
    height: 100vh;
    position: relative;
    background-color: #d7dbd3;
}

img {
    max-width: 100%;
}

/***************
    UTILITIES
***************/
header,
footer {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px;
}

header {
    background-color: #eaeaea;
    justify-content: space-between;
}

footer {
    background-color: #f3eeea;
    justify-content:space-evenly;
}

.thumbPreview {
    display: flex;
    align-items: center;
    gap: 5px;
}

    .thumbPreview img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

/***************
    STRUCTURE
***************/

/* BACKGROUND */
#bg_header {
    height: 110px;
    background-color: #009688;
}

/* MAIN CONTAINER */
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #e3dbd4;
    width: 80%;
    height: 95%;
}

#leftCol {
    background-color: #ffffff;
    flex-basis: 33%;
    border-right: solid 2px #e2e2e2;
}

#rightCol {
    flex-basis: 67%;
}

/* LEFT COLUMN */
.bellWarning {
    height: 60px;
    background-color: #8edafc;
}

#contactSearchBar {
    height: 30px;
    padding: 5px;
    border-bottom: solid 1px #e2e2e2;
}

/* RIGHT COLUMN */
main {
    height: calc(100% - 100px);
    overflow-y: scroll;
}

footer input {
    flex-basis: 80%;
    height: 90%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}


/***************
    DEBUG
***************/

.thumbContact,
.iconsContainer {
    border: solid 1px violet;
}