<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Font-awesome library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>Boolzapp</title>
</head>

<body>
    
<div id="wrapper">
    
    <div id="bg_header"></div>
    
    <!-- MAIN CONTAINER -->
    <div id="app">
    
        <!-- LEFT COLUMN -->
        <div id="leftCol">
            <header>
                <div class="thumbPreview">
                    <img class="rounded" :src="userAccount[0].avatar" alt="Profile pic">
                    <span>{{userAccount[0].name}}</span>
                </div>
                <div class="iconsContainer">
                    <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                    <a href="#"><i class="fa-solid fa-message"></i></a>
                    <div class="clickTendina">
                        <!-- Icon -->
                        <a href="#"
                            @click="userMenu = !userMenu"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        <!-- Menu tendina -->
                        <div class="menuTendina"
                            v-if="userMenu">
                            <ul>
                                <li><a href="#">info</a></li>
                                <li><a href="#"
                                 @click.stop="">change account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            
            <!-- warning -->
            <div class="bellWarning thumbPreview">
                <span class="rounded">
                    <a href="#"><i class="fa-solid fa-bell-slash"></i></a>
                </span>
                <div>
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <a href="#">Attiva notifiche desktop</a>

                </div>
            </div>

            <!-- search bar -->
            <div id="SearchBarContainer">
                <div class="searchBar">
                    <a>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                    <input
                        type="text"
                        id="contactSearchBar"
                        placeholder="Cerca o inizia una nuova chat"
                        v-model="contactSearch">
                </div>
            </div>

            <!-- Contacts list -->
            <div id="contactsListContainer">

                <!-- Contact preview -->
                <div class="contactPreview"
                    v-for="(contact, idx) in contacts"
                    @click="showSelected(idx)"
                    :class="activePosition === idx ? 'thumbActive':''"
                    v-show="(contact.name.toLowerCase().includes(contactSearch.toLowerCase()) || contactSearch === '')">

                    <div class="thumbPreview">
                        <img class="rounded" :src="contact.avatar" alt="Profile pic">
                        <div class="contactInfo">
                            <h4>{{contact.name}}</h4>
                            <span class="lastReceivedPreview">{{contact.messages[contact.messages.length - 1].message}}</span>
                        </div>
                    </div>
                    <div class="activeTime">
                        {{(contact.messages[contact.messages.length - 1].date.split(' ')[0]).toLocaleString()}}
                    </div>

                </div>

            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div id="rightCol">
            <!-- Header -->
            <header>
                <div class="thumbPreview">
                    <img class="rounded" :src="contacts[activePosition].avatar" alt="Profile pic">
                    <div class="contactInfo">
                        <h4>{{contacts[activePosition].name}}</h4>
                        <span v-if="!pcTyping">Ultimo accesso {{contacts[activePosition].messages[contacts[activePosition].messages.length - 1].date}} </span>
                        <span v-if="pcTyping">{{tempInfoMsg}}</span>
                    </div>
                </div>
                <div class="iconsContainer">
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                    <div class="clickTendina">
                        <!-- Icon -->
                        <a href="#"
                            @click="chatMenu = !chatMenu"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        <!-- Menu tendina -->
                        <div class="menuTendina"
                            v-if="chatMenu">
                            <ul>
                                <li><a href="#">Delete messages</a></li>
                                <li><a href="#"
                                 @click.stop="">Delete chat</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </header>

            <!-- Main message section -->
            <main>

                <!-- ROW of message -->
                <div class="msgRow" v-for="(item, idx) in contacts[activePosition].messages">

                    <!-- Message -->
                    <div class="msg"
                        :class="(item.status === 'sent') ? 'msgSent' : 'msgReceived'">
                        <div class="msgText">{{item.message}}</div>
                        <div class="msgActiveTime">
                            {{item.date}}
                        </div>

                        <!-- arrow message tendina -->
                        <a href="#"
                            class="arrowTendina"
                            @click.stop="showTendina(idx)">
                            
                            <!-- arrowDown -->
                            <i class="fa-solid fa-chevron-down"
                                v-if="msgArrowUpPosition !== idx"></i>
                            
                            <!-- arrowUp-->
                            <i class="fa-solid fa-chevron-up"
                                v-if="msgArrowUpPosition === idx"></i>    
                        </a>

                        <!-- Menu tendina -->
                        <div class="menuTendina"
                            v-if="msgTendinaPosition === idx">
                            <ul>
                                <li><a href="#">Message info</a></li>
                                <li><a href="#"
                                    @click.stop="msgDelete(idx)">Delete message</a></li>
                            </ul>
                        </div>

                    </div>
                    
                </div>

            </main>

            <!-- Footer -->
            <footer>
                <span>
                    <a href="#">
                        <i class="fa-regular fa-face-smile"></i>
                    </a>
                </span>
                <input
                    type="text"
                    name="" 
                    id="messageInput"
                    placeholder="Scrivi un messaggio"
                    v-model="newMessage"
                    @keyup.enter="addMessage">
                <span>
                    <a href="#" v-if="emptyMessage()">
                        <i class="fa-solid fa-microphone"></i>
                    </a>

                    <a href="#" v-if="!emptyMessage()" @click="addMessage()">
                        <i class="fa-regular fa-paper-plane"></i>
                    </a>
                </span>
            </footer>
        </div>
        
    </div>
</div>



<!-- Luxon -->
<script src=" https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js "></script>
<!-- VueJS -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- JS Files  -->
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>

<!-- SCROLL TEST 
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, qui? Asperiores alias beatae adipisci quis, neque quo perferendis voluptatem officiis nobis earum eveniet recusandae nemo ducimus laudantium quasi vero expedita.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptates atque labore quaerat perspiciatis recusandae ex in, ratione error mollitia quis! Sit itaque impedit tenetur, fugit unde esse quos quia.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, iste. Voluptate sint, aut ut quo delectus sit saepe cum accusamus? Odit dicta expedita facere laudantium laborum aliquid, nemo modi esse. -->